<h1>Add a definition to <%= @word.name_of_word() %></h1>

<form class="form-group" action="/definitions" method="post">
  <input type="hidden" name="word_id" id="word_id" value="<%= @word.id() %>">

  <label for="new_definition">Definition:</label>
  <input type="text" name="new_definition" id="new_definition">
  <button type="submit">Add Definition</button>
</form>
<a href="/">Return to Main Page</a>
