<h1>Add Words</h1>

<h4>Add a word here:</h4>

<form class="form-group" action="/word" method="post">
  <label for="name_of_word">Word:</label>
  <input type="text" name="name_of_word" id="name_of_word">
  <button type="submit">Add Word</button>
</form>
